{
	"extends": [
		"prettier",
		"eslint:recommended",
		"plugin:vue/essential",
		"@vue/prettier"
	],
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},

	"env": {
		"browser": true,
		"commonjs": true,
		"node": true,
		"es6": true,
		"jquery": true
	},
	"rules": {
		"prettier/prettier": "error",
		"no-console": 1,
		"no-var": 1,
		"no-debugger": 2,
		"no-alert": 2,
		"no-extra-semi": 2,
		"no-empty": 1,
		"no-unused-vars": 1,
		"CamelCase": {
			"properties": "always"
		}
	},
	"plugins": ["prettier"]
}
