body,
.text {
	color: $color_mainText;
	@include font(1, 16, r, 26px);
}

a {
	transition: 0.2s;
	text-decoration: none;
	color: $color_blue1;

	&:hover {
		text-decoration: underline;
		color: $color_blue2;
	}
}

h1 {
	@include font(1, 36, b, 54px);
	color: $color_titleText;
	margin: 0;
}

h2 {
	@include font(1, 24, b, 38px);
	color: $color_black;
}

h3 {
	@include font(1, 16, b, 24px);
	color: $color_titleText;
}

h4 {
	@include font(1, 14, s, 22px);
	color: $color_black;
}

.h4_2 {
	text-transform: uppercase;
}

h5 {
	@include font(1, 12, b, 18px);
	color: $color_titleText;
	text-transform: uppercase;
}

h6 {
	@include font(1, 10, b, 14px);
}

//text
.text_1 {
	@include font(3, 20, r, 32px);
	color: $color_titleText;
}

.text_3 {
	@include font(1, 14, r, 22px);
}

.text_4 {
	@include font(1, 12, r, 18px);
}

.text_spec1 {
	@include font(2, 16, b, 26px);
}

.text_spec2 {
	@include font(1, 14, s, 22px);
	color: $color_blue1;
}

// custoom list
// ul,
// ol {
// 	margin: 0;
// 	padding: 0;
// 	list-style: none;
// 	list-style-position: inside;
// }

ol {
	counter-reset: my-awesome-counter;

	li {
		counter-increment: my-awesome-counter;
	}

	li::before {
		position: absolute;
		left: 2px;
		content: counter(my-awesome-counter);
	}
}
// end of custoom unordered list

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	th {
		font-weight: bold;
	}

	td {
		padding: 14px 15px;
	}
}
